{% extends 'base.html.twig' %} {% block title 'Supprimer une fiche' %} {% block
body %}
<div class="container mt-4">
  <h1 class="my-5">Supprimer une fiche</h1>
  <div class="container">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
      Enregistrer les modifications
    </button>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
